@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background-color: black;
    background-image: url('plahvatus.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.logo {
    image-rendering: auto;
    image-resolution: auto;
    height: 50px;
}

form {
    background-color: #454545;
    padding: 50px;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
